.button_main_menu1 {
    border-radius: 5px;
    border-color: black;
    background: #76767600;
    border-radius: 100px;
    padding: 20px;
    font-size: 60px;

}
.button_main_menu2 {
    border-radius: 5px;
    border-color: black;
    background: #76767600;
    border-radius: 100px;
    padding: 10px;        

}
.button_main_menu1:hover {
    border-radius: 5px;
    border-color: black;
    background: #76767600;
    border-radius: 100px;
    padding: 10px;

}
.button_main_menu2:hover {
    border-radius: 5px;
    border-color: black;
    background: #76767600;
    border-radius: 100px;
    padding: 10px;

}
.button_search {
    border-radius: 100px;
    border-color: black;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.button_search:hover {
    border-color: black;
    background-color: white;
    color:black;
}
.textbox {
    border-radius: 20px;
    border-color: black;
    padding: 10px;
    padding-left: 18px;
}
#image {
    display: flex;
    justify-content: center;
    height: 150px;
    border-radius: 10%;
}
.answer_text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-style: bold;
}