body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    justify-content: center;

}


.card {
    margin: 30px;
    width: 400px;
    background: #fff;
    padding: 40px 32px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.input-wrapper {
    position: relative;
}

.input-wrapper i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #9c9c9c;
    font-size: 16px;
}

.input-field {
    width: 85%;
    background: #f1f1f1;
    padding: 14px 14px 14px 44px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #555;
    position: relative;
}

.remember {
    display: flex;
    align-items: center;
    margin: 5px 0 20px;
    font-size: 14px;
    color: #666;
}

.remember input {
    margin-right: 8px;
}

.action-btn {
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    background: linear-gradient(to right, #ffb645, #ff4b5c);
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 18px;
    transition: 0.2s ease;
}

.action-btn:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}





.toggle-sign {
    margin-top: 5px;
}

.toggle-sign a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

#span_error{
    color: red;
    font-style: bold;
    
}

/** GAME SECTION **/

.game_menu {
  background-color: white;
  width: 100vw;
  height: 40vh;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game_body {
font-size: 20px;
margin-top: -30px;
background-color: white;
width: 50vw;
height: 40vh;
border-radius: 20px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
top: 50%;
left: 50%;
transform: translate(50%, 50%);
}